

{% block content %}

<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
       <!-- container -->
       
                <div>
                   <div class="mb-lg-9 mb-5">
                      <!-- heading -->
                      <h1 class="mb-2 h2 fw-bold">Password reset sent</h1>
                      <p>Un e-mail de réinitialisation de mot de passe vient de vous être envoyé. Veuillez vérifier votre boîte de réception ainsi que votre dossier de courrier indésirable.</p>
                      <p>Pour réinitialiser votre mot de passe, veuillez suivre les instructions fournies dans l'e-mail. Assurez-vous de choisir un mot de passe sécurisé et facile à mémoriser.</p>
                   </div>
                   <!-- form -->
                   
                </div>
    </section>
 </main>

 {% endblock %}